body {
    background-color: #E9F0E5;
}


.sign-in {
    margin: auto;
    width: 50%;
  
}
.center {
    margin: auto;
    width: 25%;
    padding: 10px;
    text-align: center;
  }
  

input {
    background-color: #B9C8B9;
    border-radius: 25px;
    border:0ch;
    height: 50px;
    width: 400px;
    margin-top: 30px;
    /* margin-left: 550px; */
    
    text-align: center;
    box-shadow: 4px 4px 4px  #b6b6b6;
    

}

button {
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: #607B5B;
    border: 0ch;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 4px  #b6b6b6;
    margin-left: 40px;
}

.small-text {
    font-size: 18ox;
}

.big-text {
    font-size: 25px;
    font-weight: bold;
}

.title {
    padding: 25px 0;
    padding-left: 15px;
}

.title-logo {
    padding-top: 70px;
}

.login {
    margin-top: 10px;;
}

.logo {
    text-align: right;
}



.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
    
